extends layout

mixin segment(section) 
  section
    h1= section

mixin listItem(info)
  li.bullets= info  

mixin project(name, description, link, url)
  article
    header
      h1.inline= name
      if(link)
        a(
          href= url
          target= "_blank"
        )= ' | ' + link
      i
        p.description= description

mixin school(name, location, date, description, description2)
  article
    header
      h1= name
      em= location
      time= date
    p= description
    if(description2)
      p= description2

mixin job(name, title, location, year, description, description2)
  article
    header
      h1.inline= name
      span= ' ' + title + ' | ' 
      span= location + ' | ' 
      span= year
      p= description
      p= description2

block about
  +segment('About me')
  article
    p I'm a passionate javascript engineer who loves making full-stack applications and seeing how every stage is built and connected to each other. Even though I'm typing on a computer, I always remember that at the other end of the screen is another person, and figuring out how to make that person's experience enjoyable and intuitive is paramount to my work.

block skills
  +segment('Technical skills')
  article
    p <strong>Strong:</strong> <br/>Javascript, React, MongoDB, SQL, Redux, Node, Express, RESTful APIs, HTML5,CSS, Bootstrap, Git, Webpack
    p <strong>Experienced:</strong> <br/> Jade, Cheerio, Bcrypt, React-Native, jQuery, Bluebird, Socket.io, Angular, AWS, Lambda, Material, Auth0, JWT, Sass

block projects
  +segment('Recent Projects')
  +project('Atexta', 'Alexa skill that allows users to send customizable group messages using voice commands', 'See the skill in action!', 'https://devpost.com/software/atexta-9gm63u')
  ul
    +listItem('Built web application that interfaces with the Alexa skill, allowing users to create and update their personal contacts, groups, and messages that they can send using their Alexa device')
    +listItem('Designed, scaffolded, and built out the inner workings of the Alexa skill using the AWS Lambda service')
    +listItem('Set up integration with Mailgun and Twilio API’s for easy usability and seamless user experience')
  
  +project('Pick A Flick', 'Movie recommendation service that find movies based on ratings, streaming services, and interests', 'Pick A Flick', 'http://mighty-taiga-90605.herokuapp.com/')
  ul 
    +listItem('Designed and built structure of website with react for fast client-side rendering of single-page application')
    +listItem('Constructed schema, server routes, and queries for users and movies in database')
    +listItem('Created quiz to recommend movies based on user preferences and personality')

  +project('Reddicted', 'Time-management app for people addicted to reddit')
  ul 
    +listItem('Employed system that displays set number of reddit posts for fixed amount of time by querying their RESTful API')
    +listItem('Implemented authentication system with Bcrypt for hashing and validating users in Mongo database')

  +project('Codebang', 'Chat and development hub for software developers')
  ul 
    +listItem('Architected dashboard with Eventbrite integration using React and React-bootstrap components')
    +listItem('Designed webscraper using cheerio to extract event details from Eventbrite to display in clear interface')
    +listItem('Linked front-end calls to SQL database on AWS through Express to save and retrieve scraped data')
  
block education
  +segment('Education')
  +school('Hack Reactor', 'Los Angeles, California', ' 2016-2017', 'Advanced software engineering immersive')
  +school('University of Southern California', 'Los Angeles, California', ' 2012-2016', 'B.A. - International Relations and the Global Economy', 'Minor - Chinese (Mandarin)')
  
block employment
  +segment('Work Experience')
  +job('Hack Reactor', 'Hacker in Residence (Teaching Fellow)', 'Los Angeles, California', '2017', 'Assisted junior engineers learning JS frameworks, CS fundamentals, and delivering full-stack applications', 'Conducted lectures and one-on-one sessions teaching algorithmic logic and toy problems')
  +job('Deloitte Consulting', 'Intern, Strategy and Operations', 'Shanghai, China', '2015', 'Worked with colleagues to make proposals for major client: Shanghai Automotive Industry Corporation', 'Attended GSMA Summit as Deloitte ambassador to present findings on disruptive technology and future of mobile')
  +job('Starbucks International', 'Intern, Financial Marketing Department', 'Shanghai, China', '2014', 'Tracked weekly mooncake sales across every region and outlet in China utilizing data analysis in Excel', 'Optimized spreadsheet formatting to highlight key sales and distribution metrics in tandem with partners; created weekly scorecard to forecast current year figures compared to prior year')

  
block interests
  section
    h1 Other fun stuff
  article
    p Lived in Shanghai for 8 years, spent the last few summers there as well, absolutely love the city
    p My sisters and I made a <a style="color: red;" href="https://www.youtube.com/watch?v=cgzBqMKkz1o" target="_blank"> YouTube video </a> with 14.5 million views!
    p I schooled Jimmy Kimmel in basketball on <a style="color: red;" href="https://www.youtube.com/watch?v=9m401nwWSoo" target="_blank">national TV</a> when I was 9

block profile 
  header
    img(
      src= '/images/profile.jpg'
    ).picture
    h1= name
    p
      a(
        href= tel_full
      )= tel
    address
      p= city
      p= country
    p
      a(
        href= email_full
      )= email
      br
      a(
        href= "https://github.com/" + github
        target="_blank"
      ).fa.fa-github= " Github"
      br
      a(
        href="https://linkedin.com/in/" + linkedin
        target="_blank"
      ).fa.fa-linkedin= " LinkedIn"

block space
  div.third